@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General header styling */
.header {
  background-color: #f2eaea;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid rgba(255, 0, 0, 0.445);
}

/* Logo and Logo_name styling */
.header_logo_section {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

/* Logo styling */
.logo {
  background: #f6c2ca;
  border-radius: 100%;
  padding: 12px 0 0;
  margin: 20px 0 20px 20px;
  height: 6vh;
  position: absolute;
}

/* Styling the letters inside the logo */
.logo h3 {
  background-color: #f87777;
  padding: 12px;
  border-radius: 100%;
  position: relative;
  bottom: 34px;
  left: 6px;
  font-family: "Fleur De Leah", cursive;
  color: #f9b5bf;
  letter-spacing: 4px;
  font-size: 20px;
}

/* AppName styling */
.appname {
  font-size: 28px;
  letter-spacing: 1px;
  color: #f8777786;
  position: relative;
  left: 72px;
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  word-spacing: -3px;
}

/* Profile pic styling */
.profile_pic {
  border-radius: 100%;
  margin-right: 80px;
}

.profile_pic img {
  max-width: 100%;
  height: 9vh;
  width: 100%;
  clip-path: circle(60%);
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #f877772d;
}

/* Media query for Medium screen (Tablets) */
@media screen and (Max-width: 768px) {
/* Logo styling */
.logo {
  margin: 20px 0 20px 10px;
  height: 7vh;
}

/* Styling the letters inside the logo */
.logo h3 {
  padding: 14px;
  bottom: 30px;
  font-size: 20px;
}

/* AppName styling */
.appname {
  font-size: 26px;
  word-spacing: -1px;
}

 /* Profile pic styling */
  .profile_pic {
  margin-right: 24px;
}

.profile_pic img {
  height: 7vh;
}
}

/* Media query for small screen (phones) */

@media screen and (Max-width: 480px) {
/* Logo styling */
.logo {
  margin: 20px 0 20px -20px;
  height: 5vh;
}

/* Styling the letters inside the logo */
.logo h3 {
  padding: 12px;
  bottom: 32px;
  left: 8px;
  font-size: 18px;
}

/* AppName styling */
.appname {
  font-size: 20px;
  left: 36px;
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  word-spacing: -3px;
}

 /* Profile pic styling */
  .profile_pic {
  margin-right: 20px;
}

.profile_pic img {
  height: 6vh;
}
}
